body {
  margin: 0;
  padding: 0;
  background-image: url("../img/mickeyBackground.jpg");
  background-position: center;
  background-color: white;
}

@font-face {
    font-family: 'hickory_jackregular';
    src: url('../hickoryjack-webfont.woff2') format('woff2'),
         url('../hickoryjack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.navContainer  {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

nav {
  font-family: 'hickory_jackregular';
  font-weight: normal;
}

nav a {
  text-shadow: 1px 1px blue;
  text-decoration: none;
  font-size: 1.5em;
  color: white;
}

nav a:hover {
  /* text-decoration: overline underline; */
  /* text-decoration-color: black; */
  text-decoration-style: wavy;
  color: #FAF526;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  padding-right: 2.5em;
}

ul {
  list-style: none;
}

h2 {
  font-weight: normal;
  font-family: 'hickory_jackregular';
  font-size: 7em;
  text-shadow: 2px 1px #fff;
  margin-bottom: -.18em;
  margin-top: 10px;
}

h3 {
  font-weight: normal;
  text-decoration: underline;
  /* change font */
}

h4 {
  font-weight: normal;
  font-family: 'hickory_jackregular';
  font-size: 2em;
}

.containerForMyContainer {
  width: 50%;
  margin: 30px auto;
  /* background-color: #31A6FF; */
  background: rgba(49, 166, 255, 0.4);
  border: 5px solid black;
}

.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.financialInterests {
  width: 80%;
}

.financialInterests .blackmail {
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid black;
  width: 80%;
}

.pictures {

  display: flex;
  justify-content: center;


}

.pictures img {
  opacity: 0.7;
  height: 100px;
  width: 100px;
  border-radius: 20px;
  padding: 5px;
  /* border: 1px solid #ddd; */
  margin-bottom: -2.85em;
  /* margin-top: 2em; */
  -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
  transition: width 1s, height 1s, transform 1s;
}

.financialInterests img:hover {
  opacity: 1;
  -webkit-transform: rotate(900deg); /* Safari */
  transform: rotate(900deg);
}

.financialInterests img {
  /* border: 1px solid #ddd;
  border-radius: 4px;
  padding:style="display: inline" 5px;

  width: 100px;
  height: 100px;
  opacity: 0.5;
  margin-bottom: -2.85em;
  margin-top: 2em;
  /* margin-right: 2px; */
  /* -webkit-transition: width 1s, height 1s, -webkit-transform 1s; /* Safari */
  /* transition: width 1s, height 1s, transform 1s; */


}

.financialInterests img:hover {
  /* opacity: 1;
  width: 120px;
  height: 120px;
  -webkit-transform: rotate(25deg); /* Safari */
  /* transform: rotate(25deg); */
}

#bankAccounts {
  list-style: square;
  font-family: monospace;
}

#businesses {
  font-family: monospace;
  list-style: square;
}

#moneyLaundering {
  list-style: square;
  font-family: monospace;
}
