body {
  margin: 0;
  padding: 0;
  background-image: url("../img/mickeyBackground.jpg");
  background-position: center;
  background-color: white;
}

@font-face {
    font-family: 'hickory_jackregular';
    src: url('../hickoryjack-webfont.woff2') format('woff2'),
         url('../hickoryjack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

ul {
  list-style:  none;
  padding: 0px;
  margin: 5px;
}

h2 {
  font-weight: normal;
  font-family: 'hickory_jackregular';
  font-size: 7em;
  text-shadow: 2px 1px #fff;
  margin-bottom: 0px;
  margin-top: 10px;
}

h3 {
  font-weight: normal;
  text-decoration: underline;
  /* change font */
}

h4 {
  font-weight: normal;
  font-family: 'hickory_jackregular';
  font-size: 2em;
}

.containerForMyContainer {
  width: 50%;
  margin: 30px auto;
  /* background-color: #31A6FF; */
  background: rgba(49, 166, 255, 0.4);
  border: 5px solid black;
}

.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.financialInterests {
  width: 80%;
}

.financialInterests .blackmail {
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid black;
  width: 80%;
}

.financialInterests img {
  width: 100px;
  height: 100px;
  opacity: 0.5;
  margin-bottom: -2.85em;
  margin-top: 2em;
  /* margin-right: 2px; */
  -webkit-transition: width 1s, height 1s, -webkit-transform 1s; /* Safari */
  transition: width 1s, height 1s, transform 1s;

}

.financialInterests img:hover {
  opacity: 1;
  width: 200px;
  height: 200px;
  -webkit-transform: rotate(720deg); /* Safari */
  transform: rotate(720deg);
}

#bankAccounts {
  list-style: square;
  font-family: monospace;
}

#businesses {
  font-family: monospace;
  list-style: square;
}

#moneyLaundering {
  list-style: square;
  font-family: monospace;
}
