body{
    text-emphasis: emphasis; 
    text-align: center;
    font-weight: bolder;
    
    background-image: url("images/SubduedMickeyWithCar.jpg");
   
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    font-size: 1.5em;
    background-attachment: fixed;
    /* color: yellow; */
    color: #FFD700;
    background-blend-mode: lighten;
    /* background-blend-mode: difference; */
    
    
}
img{
    opacity: 0.2;
}


nav a{

 display: flex;
display: -webkit-flex; 
flex-wrap: wrap;
justify-content: space-evenly;
/* padding: .2em; */
font-family: "Arial", "Helvetica", "sans-serif";
font-weight: bolder;
font-size: 1.3em;
/* color: yellow; */
width: 100%;
color: #FFD700;

}


div{
    padding: .1em;

}

nav{
display: flex;   
display: -webkit-flex;
width: 100%;
flex-wrap: wrap;
justify-content: space-evenly;
padding: .1em;
font-family: "Arial", "Helvetica", "sans-serif";
font-weight: bolder;
font: 1.3em;
}
nav hover{
    color: rgb(216, 245, 179);
    cursor: zoom-in;
    cursor: pointer;
}

 
 h1, h2, h3{
        color: #FFD700;
        /* color: rgb(136, 255, 0); */
        font-size: 1.5em;
        text-transform: uppercase;      
 }
 
footer{
    align-content: center;
    position: relative;
    bottom: 0%;
    width: 100%;
    }
ul{
    text-align: center;
}
ol{
    text-align: center}

